html {
    display: block;
    margin: 0;
    padding: 0;

}

body {
    padding: 8px;
    font-family: Verdana;
    color: white;
    background-color: black;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

h1 {
    font-size: 50px;
    color: white;
}

a {
    color: aquamarine;
    font-size: 16px;

}